<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<style>
  h1 {font-family: "Lobster"; font-size: 3em; color:DeepPink; background:lime; text-align: center}

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
</head>

<html>
<h1> Schnurdle </h1>
<body>
    
    <p align=center >You pasted this: <%=params[:game1].to_s%></p>
    <p align=centre >The game is: <%=game_ID%></p>
    <p align=centre >The first guess was <%=first_line%></p>
    
</html>