<!DOCTYPE html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<link rel="stylesheet" href= "<%= url('/assets/erbstyles.css') %>">
</head>
<body>
<%= yield %>
</body>
