

    
h1 {font-family: "Lobster"; font-size: 3em; color:DeepPink; background:lime; text-align: center} 


h2 {font-family: "Lobster"; font-size: 2em; color:Black; text-align: center}


body {
    text-align: center;
}

form {
    display: inline-block
}

.error {
    color: red;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
